<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite 1" >
    <test name="Regression" >
        <classes>
            <class name="org.digitalsekola.tests.HomePageTest"/>
            <class name="org.digitalsekola.tests.DomainPageTest">
                <methods>
                    <include name="add_new_domain1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>